<config>
    <configuration>
            <version>20190606.224121_builder.r1033375</version>
            <system>
                <root-authentication>
                    <encrypted-password>$6$vIMOH9za$KkR2D6gatVedSBDMrhXUTtMRhS0948taEv/KAvogn.QnK5nNy0aFOHUM6itM15NHBRnMVI6UdEhPVXJMZVk6l1</encrypted-password>
                </root-authentication>
                <login>
                    <user>
                        <name>nefeli</name>
                        <uid>2000</uid>
                        <class>super-user</class>
                        <authentication>
                            <encrypted-password>$6$Q1tMS.XI$62PDE4dTv9TSWaUjTOCxvgpAm91CmiTLYq.wc6bDLys42WahQLpRIwJXiTMaJWYlWVC32Zk.kid3VZawEGriW/</encrypted-password>
                            <ssh-ecdsa>
                                <name>ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBAhf9QrR78p5D1hl1iHPqjpK0iAdUjX6FSngAd48FMu1iAkg/nJeVELm8S3jswYwf0m/Bk0+/GTkOV7iiPygoH4= nfproxy</name>
                            </ssh-ecdsa>
                        </authentication>
                    </user>
                </login>
                <services>
                    <ssh>
                    </ssh>
                    <netconf>
                        <ssh>
                        </ssh>
                    </netconf>
                    <web-management>
                        <http>
                            <interface>fxp0.0</interface>
                        </http>
                    </web-management>
                </services>
                <syslog>
                    <user>
                        <name>*</name>
                        <contents>
                            <name>any</name>
                            <emergency/>
                        </contents>
                    </user>
                    <file>
                        <name>messages</name>
                        <contents>
                            <name>any</name>
                            <any/>
                        </contents>
                        <contents>
                            <name>authorization</name>
                            <info/>
                        </contents>
                    </file>
                    <file>
                        <name>interactive-commands</name>
                        <contents>
                            <name>interactive-commands</name>
                            <any/>
                        </contents>
                    </file>
                </syslog>
                <license>
                    <undocumented><autoupdate>
                        <url>
                            <name>https://ae1.juniper.net/junos/key_retrieval</name>
                        </url>
                    </autoupdate></undocumented>
                </license>
            </system>
            <security>
                <screen>
                    <ids-option>
                        <name>untrust-screen</name>
                        <icmp>
                            <ping-death/>
                        </icmp>
                        <ip>
                            <source-route-option/>
                            <tear-drop/>
                        </ip>
                        <tcp>
                            <syn-flood>
                                <alarm-threshold>1024</alarm-threshold>
                                <attack-threshold>200</attack-threshold>
                                <source-threshold>1024</source-threshold>
                                <destination-threshold>2048</destination-threshold>
                                <undocumented><queue-size>2000</queue-size></undocumented>
                                <timeout>20</timeout>
                            </syn-flood>
                            <land/>
                        </tcp>
                    </ids-option>
                </screen>
                <policies>
                    <policy>
                        <from-zone-name>trust</from-zone-name>
                        <to-zone-name>trust</to-zone-name>
                        <policy>
                            <name>default-permit</name>
                            <match>
                                <source-address>any</source-address>
                                <destination-address>any</destination-address>
                                <application>any</application>
                            </match>
                            <then>
                                <permit>
                                </permit>
                            </then>
                        </policy>
                    </policy>
                    <policy>
                        <from-zone-name>trust</from-zone-name>
                        <to-zone-name>untrust</to-zone-name>
                        <policy>
                            <name>default-permit</name>
                            <match>
                                <source-address>any</source-address>
                                <destination-address>any</destination-address>
                                <application>any</application>
                            </match>
                            <then>
                                <permit>
                                </permit>
                            </then>
                        </policy>
                    </policy>
                    <policy>
                        <from-zone-name>untrust</from-zone-name>
                        <to-zone-name>trust</to-zone-name>
                        <policy>
                            <name>default-permit</name>
                            <match>
                                <source-address>any</source-address>
                                <destination-address>any</destination-address>
                                <application>any</application>
                            </match>
                            <then>
                                <permit>
                                </permit>
                            </then>
                        </policy>
                    </policy>
                    <default-policy>
                        <permit-all/>
                    </default-policy>
                </policies>
                <zones>
                    <security-zone>
                        <name>trust</name>
                        <tcp-rst/>
                        <interfaces>
                            <name>ge-0/0/0.0</name>
                        </interfaces>
                    </security-zone>
                    <security-zone>
                        <name>untrust</name>
                        <screen>untrust-screen</screen>
                        <interfaces>
                            <name>ge-0/0/1.0</name>
                        </interfaces>
                    </security-zone>
                </zones>
            </security>
            <interfaces>
                {% for interface in interfaces %}
                <interface>
                    <name>{{interface.name}}</name>
                    <unit>
                        <name>0</name>
                        <family>
                            <inet>
                                <address>
                                    <name>{{interface.ip}}</name>
                                    {% if interface.arp_entries %}
                                    {% for arp_entry in interface.arp_entries %}
                                    <arp>
                                        <name>{{arp_entry.ip}}</name>
                                        <mac>{{arp_entry.mac}}</mac>
                                    </arp>
                                    {% endfor %}
                                    {% endif %}
                                </address>
                            </inet>
                        </family>
                    </unit>
                </interface>
                {% endfor %}
                <interface>
                    <name>fxp0</name>
                    <unit>
                        <name>0</name>
                        <family>
                            <inet>
                                <dhcp>
                                </dhcp>
                            </inet>
                        </family>
                    </unit>
                </interface>
            </interfaces>
            <routing-options>
                <static>
                    {% for route in routes %}
                    <route>
                        <name>{{route.prefix}}</name>
                        <next-hop>{{route.next_hop}}</next-hop>
                        <no-readvertise/>
                    </route>
                    {% endfor %}
                </static>
            </routing-options>
    </configuration>
    <cli>
        <banner></banner>
    </cli>
</config>